body{
 background-color: black;
}

.header-login{
    background-color: #2C4169;
    box-sizing: border-box;
    width: 100%;
}

.logo{
  width: 150px;
  height: 90px;
  cursor: pointer;
  margin: 25px 0;
  margin-left: 30px;
}

.container{
    font-size: 25px;
    margin: 10px auto;
    display: flex;
    background-color: #2C4169;
    text-align: center;
    color:white;
    padding: 70px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 25px;
}

.e-mail{
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
}

.password{
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
}

.botao{
    border-radius: 10px;
    border-width: 3px;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    background-color: #0FFE52;
    font-size: 25px;
}