body{
 background-color: black;
}

.container{
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    background-color: #2C4169;
    text-align: center;
    color:white;
    padding: 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 25px;
}

.e-mail{
    margin: 8px;
    padding: 5px;
}

.password{
    margin: 8px;
    padding: 5px;
}

.botao{
    border-radius: 10px;
    border-width: 3px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}