body {
    background-color: black;
}

.container {
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    background-color: #2C4169;
    color: white;
    padding: 12px;
    border-radius: 20px;
    width: 40%;
}

.voltar {
    text-align: center;
}

.mensagem {
    text-align: center;
}